._1mf7G{width:100%;height:60px;display:flex;align-items:center;padding:0 50px;background-color:#494d52;font-family:"Gill Sans","Gill Sans MT",Calibri,"Trebuchet MS",sans-serif;font-size:18px}._1vKy6 a{margin-right:15px;color:#fff;text-decoration:none}
.XRAbi{text-align:center;color:#fff}
body{background-color:#6e6a6a}._2zezH{display:flex;justify-content:center;align-items:center;width:100%;flex-direction:column}._1Vuj9{margin-top:1px}.V15To{margin-top:20px;color:#fff}._3WAbx{margin-top:75px;color:#fff}
html,body,#root{margin:0;padding:0;width:100%;height:100%}
